.lists-container {
  display: flex;
  flex-wrap: wrap;
}

.list {
  margin: 20px;
}

h2 {
  font-size: 1.17em;
}

.main-input {
  padding: 20px 0;
  text-align: center;
}

button {
  margin: 0 2.5px;
}

li {
  list-style-type: none;
}

.error,
.error:focus {
  border: 2px solid red !important;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.completed {
  opacity: 0.5;
}

.editable {
  cursor: pointer;
}
